.center {
    text-align: center;
}

.logo {
    color: red;
    font-style: italic;
}
.purple {
    color: purple;
}

.BEEGBUTTON {
    height: 300px;
    width: 80%;
    text-align: center;
    margin: 10%;
    background-color: coral;
    font-size: 60px;
}


a.onlytheworthy:link {
    cursor: default;
    color: white;
    text-decoration: none;
}

a.onlytheworthy:visited {
    cursor: default;
    color: white;
    text-decoration: none;
}

a.onlytheworthy:hover {
    cursor: default;
    color: white;
    text-decoration: none;
}

a.onlytheworthy:active {
    cursor: default;
    color: white;
    text-decoration: none;
}