.center {
    text-align: center;
}

.logo {
    color: red;
    font-style: italic;
}
.purple {
    color: purple;
}

.BEEGBUTTON {
    height: 400px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: coral;
    font-size: 80px;
}


a.onlytheworthy:link {
    cursor: default;
    color: white;
    text-decoration: none;
}

a.onlytheworthy:visited {
    cursor: default;
    color: white;
    text-decoration: none;
}

a.onlytheworthy:hover {
    cursor: default;
    color: white;
    text-decoration: none;
}

a.onlytheworthy:active {
    cursor: default;
    color: white;
    text-decoration: none;
}