<!DOCTYPE html>
<html>
    <head>
        <title>Jordan's CapStone Project</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    </head>
    <body>
        <h1 class='center'><div class='logo'>Es-Bee-Es Two</div> <div class='purple'>Electric Boogaloo</div></h1>

        <a href="/search"><button class="BEEGBUTTON">Find a Bus Stop by Name/Coordinates/Code!</button></a>

        <a href='/buses' class="onlytheworthy">TO BUSES</a>
    </body>
</html>